:root {
    --color-black: #000000;
    --color-rich-black: #0A111F;
    --color-oxford-blue: #14213D;
    --color-orange-web: #FCA311;
    --color-hunyadi-yellow: #F7B446;
    --color-platinum: #E5E5E5;
    --color-white: #FFFFFF;
    ---border-radius: 10px;
    --padding-min: 10px;
    --padding-med: 20px;
    --padding-max: 40px;
    --gap-min: 10px;
    --gap-med: 20px;
    --gap-max: 40px;
    --font-size-1: 2rem;
    --font-size-2:1.5rem ;
    --font-size-3:0.9rem ;
    --box-shadow-back-shadow-ligth: 2px 2px 10px var(--color-oxford-blue);
    --box-shadow-back-shadow-orange: 2px 2px 10px var(--color-hunyadi-yellow);
    --box-border-radius: 30px;
    --transition: all 600ms ease;
    --gradient-ligth:linear-gradient(180deg, #ffffff 20%, #e5e5e5 100%);
    --gradient-orange:linear-gradient(180deg,#F7B446 20%, #FCA311 100%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--color-white);
}
.header-menu {
    width: 100%;
    height: 8vh;
    background: transparent;
    position: fixed;
    z-index: 100;
}

.header-row-logo {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.header-row-logo a {
    color: var(--color-oxford-blue);
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.header-row-logo em {
    color: var(--color-orange-web);
    font-size: 4rem;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.header-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-row-menu-nav {
    width: auto;
    height: 100%;
}

.header-row-menu-nav nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#btn-mobile {
    display: none;
}

.header-row-menu-nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.header-row-menu-nav a {
    display: block;
    color: var(--color-hunyadi-yellow);
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    transition:var(--transition); 
   
}
.header-row-menu-nav a:hover {
    color: var(--color-orange-web);
    border-bottom: solid 1px  var(--color-hunyadi-yellow);
    animation: border-bottom  300ms linear;
}
@keyframes border-bottom{
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }

}

.container-grid-dish-details {
    position: relative;
    display: grid;
    width: 100%;
    gap: var(--gap-max);
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "container-dish container-details";

}

.mask-background-dish {
    position: absolute;
    height: 100vh;
}

.mask-background-dish svg {
    height: 100vh;
    width: auto;
}
.mask-background-dish .svg-background {
    fill: var(--color-black);
}
.container-social-initial{
    display: flex;
    flex-direction: row;
    gap: var(--gap-med);
    width: 100%;
    height: auto;
}
.brands{
    width: 30px;
    height: 30px;
    color: var(--color-white);
    transition: var(--transition);
}
.brands:hover{
    transform: rotate(10deg);
    scale: 1.1;
    color: var(--color-hunyadi-yellow);
}
.container-dish {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-min);
    width: 100%;
    height: 100%;
    grid-area: container-dish;
    z-index: 10;
}

.content-details {
    display: flex;
    width: 80%;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.content-details-Ingredients-preparation {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: transparent;
    flex-direction: column;
    justify-content: center;
}

.content-details-Ingredients-preparation ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.content-details-Ingredients-preparation li {
    font-size: clamp(8px, 0.8rem, 1rem);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    list-style-type: disc;
}

.details {
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: var(--box-border-radius);
    background: var(--color-white);
    box-shadow: var(--box-shadow-back-shadow-ligth);
}

.buttom-details {
    display: flex;
    width: 100%;
    margin: 0px 20px 0px 20px;
    justify-content: space-around;
}

.buttom-details button {
    background: transparent;
    cursor: pointer;
    font-size: clamp(10px, 0.8rem, 1rem);
    font-family: "Poppins", sans-serif;
    text-align: center;
    opacity: 60%;
    font-weight: 600;
    transition: var(--transition);
}

.buttom-details .btn-details-active {
    color: var(--color-orange-web);
    opacity: 100%;
    border-bottom: 2px solid;

}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    gap: 100px;
    background: transparent;

}


.mask-circle-border-dish {
    display: flex;
    right: 30px;
    justify-content: center;
    clip-path: circle();
    width: 410px;
    height: 410px;
    background: var(--color-black);

}

.mask-circle {
    clip-path: circle();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-show {
    width: 370px;
    height: 370px;
}

.menu-dish {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    background: transparent;

}

.container-grid-menu-dish {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: var(--gap-med);
}

.content-dish {
    padding: var(--padding-min);
    display: flex;
    width: 120px;
    border-radius: var(---border-radius);
    gap: var(--gap-min);
    cursor: pointer;
    height: 180px;
    background: var(--gradient-ligth);
    box-shadow: var(--box-shadow-back-shadow-ligth);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.content-dish:hover {
 scale: 1.1;
}

.content-dish-active {
    color: var(--color-white);
    background: var(--gradient-orange);
    box-shadow: var(--box-shadow-back-shadow-orange);
    scale: 1.1;
}
.content-dish p {
    font-size: var(--font-size-3);
    font-family: "Poppins", sans-serif;
    text-align: center;
    opacity: 60%;
    font-weight: 600;
    color: var(--color-rich-black);
}
.img-dish-mask-shadow {
    clip-path: circle();
    background: radial-gradient(circle, rgba(240,237,237,1) 58%, rgb(136, 136, 136) 100%);
}
.img-dish-mask {
    scale: 0.80;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle();
}
