:root {
    --color-background: rgb(230, 224, 224);
    --color-white: rgb(255, 255, 255);
    --color-black: #0A0908;
    --color-raisin-black: #1D242E;
    --color-shadow-black: #555555;
    --color-gold-metallic: #9E902A;
    --color-lion: #CC9F5E;
    --color-olive: ##9E902A;
    ---border-radius:10px;
    --box-shadow-back-shadow:  20px 20px 70px var(--color-shadow-black);
    --box-border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
}

.header-menu {
    width: 100%;
    height: 8vh;
    background: transparent;
    position: fixed;
}

.header-row-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.header-row-logo a {
    color: var(--color-lion);
    font-size: 2rem;
    transition: all 0.3s ease;
}

.header-row-logo b {
    color: var(--color-gold-metallic);
    font-size: 2rem;
    text-decoration: none;
    transition: all 300ms ease;
}

.header-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-row-menu-nav {
    width: auto;
    height: 100%;
}

.header-row-menu-nav nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#btn-mobile {
    display: none;
}

.header-row-menu-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.header-row-menu-nav a {
    display: block;
    color: var(--color-gold-metallic);
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    transition: all 300ms ease;
}

.header-row-menu-nav a:hover {
    color: var(--color-lion);
}

.container-grid-dish-details {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "container-dish container-details";

}

.container-dish {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-area: container-dish;
}

.content-details {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    background:transparent;
    flex-direction: column;
    justify-content: center;
}
.content-details ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.content-details li {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    opacity: 60%;
    font-weight: 600;
    }

.details {
    width: auto;
    height: 60vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: var(--box-border-radius);
    background: var(--color-background);
    box-shadow: var(--box-shadow-back-shadow);
}
.buttom-details{
    display: flex;
    width: 100%;
    margin: 0px 20px 0px 20px;
    justify-content: space-between;
}
.buttom-details button{
    background: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    opacity: 60%;
    font-weight: 600;

}

.dish {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    gap: 100px;
    background:transparent;

}

.dish-mask{
    display: flex;
    align-items: end;
    width: 50%;
    flex-direction: column;
    border-top-right-radius:50%;; 
    border-bottom-right-radius:50%;; 
    border-right: 2px solid #000;
    background: #1D242E;
    box-shadow:  20px 20px 60px #191f27;
}
.mask-circle-shadow {
    display: flex;
    justify-content: center;
    clip-path: circle();
    width: 310px;
    height: 310px;
    background:var(--color-raisin-black);
    
}

.mask-circle {
    clip-path: circle();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-tacaca{
    width: 300px;
    height: 300px;
}
.menu-dish {
    padding: 10px 10px 10px 50px;
    width: 100%;
    height: 40vh;
    background:transparent;

}
.container-grid-menu-dish{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Repete a configuração de 1fr para todas as divs */
    grid-gap: 30px; 
    grid-template-rows: 1fr;
}
.content-dish{
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border-radius: var(---border-radius);
    gap: 30px;cursor: pointer;
    height: 200px;
    padding: 5px;
    transition: all 0.4s ease;
}
.content-dish:hover{
  box-shadow: var(--box-shadow-back-shadow);
}
.img-dish-mask-shadow{
    clip-path: circle();
    height: 100%;
    width: 100%;
    background: var(--color-raisin-black);
}
.img-dish-mask{
    scale: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%-5px);
    height: calc(100%-5px);
    clip-path: circle();
}

.content-dish p{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    opacity: 60%;
    font-weight: 600;
}
